<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="sobre-content">
  <div class="sobre-inner">
    <div class="sobre-panel">
      <h2 class="sobre-titulo">Sobre mim</h2>
      <p class="sobre-texto">
        Meu nome é Jorge Luiz Matias Izidro. Estou cursando Análise e
        Desenvolvimento de Sistemas e tenho interesse em desenvolvimento web,
        aplicativos mobile e tecnologia em geral.
      </p>
    </div>

    <ion-button expand="block" routerLink="/home" color="primary">
      Voltar ao cartão
    </ion-button>
  </div>
</ion-content>
